html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --container-padding: 2rem 3rem;
    --main-margin: var(--container-padding);
    --back-black: rgba(0, 0, 0, 0.8);
    --back-light: azure;
    --color-black: var(--back-black);
    --color-light: var(--back-light);
    --title-size: 3.5rem;
    --task-size: 1.4rem;
    --subtitle-size: 2.8rem;
    --desc-size: 2.4rem;
    --title-weight: 700;
    --sub-weight: 500;
    --border-radius: 1.5rem;
    --gap: 2rem;
    --title-padding: 1rem 2rem;
}

/* main container styles */
.main {
    margin: var(--main-margin);
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    background-color: var(--back-black);
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}

/* main title styles */
.title {
    font-size: var(--title-size);
    color: var(--color-light);
    font-weight: var(--title-weight);
    text-decoration: underline;
}

/* container styles */
.container {
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    border-radius: var(--border-radius);
    background-color: var(--back-light);
    padding: var(--container-padding);
    width: 100%;
}

/* subtitle styles */
.subtitle {
    font-size: var(--subtitle-size);
    font-weight: var(--title-weight);
    padding: var(--title-padding);
    background-color: var(--back-black);
    border-radius: var(--border-radius);
    color: var(--color-light);
}

/* section styles */
.section {
    padding: var(--container-padding);
    gap: var(--gap);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-black);
    border-radius: var(--border-radius);
    width: 100%;
}

/* item styles */
.item {
    background-color: var(--back-light);
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    width: 35rem;
    height: 25rem;
    gap: var(--gap);
}

/* task styles */
.task {
    padding: var(--title-padding);
    background-color: var(--back-black);
    color: var(--color-light);
    font-size: var(--task-size);
    border-radius: var(--border-radius);
    height: 10rem;
}

/* task b styles */ 
.task b {
    color: aquamarine;
}

/* advanced styles */
.advanced {
    width: 100%;
}

/* answer styles */
.answer {
    font-size: var(--task-size);
}

.answer span {
    text-decoration: underline;
    font-weight: var(--title-weight);
}