html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --container-padding: 2rem 3rem;
    --main-margin: var(--container-padding);
    --back-black: rgba(0, 0, 0, 0.8);
    --back-light: azure;
    --color-black: var(--back-black);
    --color-light: var(--back-light);
    --title-size: 3.5rem;
    --subtitle-size: 2.8rem;
    --desc-size: 2.4rem;
    --title-weight: 700;
    --sub-weight: 500;
}