html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

:root {
    --container-padding: 3rem;
    --main-margin: var(--container-padding);
    --title-size: 3.2rem;
    --title-weight: 900;
    --task-size: 2rem;
    --task-weight: 500;
    --color-black: rgba(0, 0, 0, .85);
    --color-light: azure;
    --color-crimson: crimson;
    --font-padding: .8rem 1rem;
    --border-radius: 1rem;
    --gap: 3rem;
}

.main {
    margin: var(--main-margin);
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    background-color: var(--color-black);
    align-items: center;
    gap: var(--gap);
}

.title {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--color-light);
    text-decoration: underline;
}

.container {
    width: 100%;
    gap: var(--gap);
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--container-padding);
}

.item {
    gap: var(--gap);
    background-color: var(--color-black);
    border-radius: var(--border-radius);
    padding: var(--container-padding);
}

.task {
    width: 40%;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--container-padding);
    font-size: var(--task-size);
    font-weight: var(--task-weight);
}

span {
    background-color: var(--color-black);
    padding: var(--font-padding);
    border-radius: var(--border-radius);
    color: var(--color-crimson);
}

i {
    padding: var(--font-padding);
    border-radius: var(--border-radius);
    color: var(--color-crimson);
    text-decoration: underline;
}