html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


:root {
    --container-padding: 2rem 3rem;
    --main-margin: var(--container-padding);
    --back-black: rgba(0, 0, 0, 0.85);
    --back-light: rgb(117, 216, 216);
    --color-black: var(--back-black);
    --color-light: var(--back-light);
    --border-radius: 1.5rem;
    --gap: 2.5rem;
    --title-size: 4rem;
    --title-weight: 900;
}

.main {
    margin: var(--main-margin);
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    background-color: var(--back-black);
    gap: var(--gap);
    align-items: center;
}

.title {
    color: var(--color-light);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    text-decoration: underline;
}

.container {
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    background-color: var(--back-light);
    gap: var(--gap);
}

.item {
    padding: var(--container-padding);
    gap: var(--gap);
    border-radius: var(--border-radius);
    background-color: var(--back-black);
}