html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-black: black;
    --color-light: azure;
    --color-gold: yellow;
    --container-padding: 2.5rem;
    --main-margin: var(--container-padding);
    --border-radius: 1.5rem;
    --gap: 3rem;
    --align-center: center;
    --title-color: var(--color-gold);
    --title-size: 3rem;
    --title-weight: 900;
    --text-decor: underline;
    --container-width: 100%;
    --task-size: 2rem;
    --task-weight: 700;
    --answer-fs: 1.8re,;
    --answer-fw: 400;
    --span-padding: .5rem 1rem;
    --span-border: .6rem;
}

.main {
    margin: var(--main-margin);
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    background-color: var(--color-black);
    gap: var(--gap);
    align-items: var(--align-center);
}

.title {
    color:var(--title-color);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    text-decoration: var(--text-decor);
}

.container {
    gap: var(--gap);
    border-radius: var(--border-radius);
    padding: var(--container-padding);
    width: var(--container-width);
    border: 1px solid var(--color-gold);
}

.item {
    border-radius: var(--border-radius);
    background-color: var(--color-light);
    padding: var(--container-padding);
    gap: var(--gap);
}

.task {
    border-radius: var(--border-radius);
    padding: var(--container-padding);
    border: 5px dotted var(--color-black);
    font-size: var(--task-size);
    font-weight: var(--task-weight);
}

span {
    text-decoration: var(--text-decor);
    background-color: var(--color-black);
    color: var(--color-gold);
    padding: var(--span-padding);
    border-radius: var(--span-border);
}

.answer {
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-black);
    gap: var(--gap);
    font-size: var(--task-size);
}

#dataArr {
    gap: 0;
}