html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-black: black;
    --color-light: azure;
    --color-gold: yellow;
    --container-padding: 2.5rem;
    --main-margin: var(--container-padding);
    --border-radius: 1.5rem;
    --gap: 3rem;
    --align-center: center;
    --title-color: var(--color-gold);
    --title-size: 3rem;
    --title-weight: 900;
    --text-decor: underline;
    --container-width: 100%;
}

.main {
    margin: var(--main-margin);
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    background-color: var(--color-black);
    gap: var(--gap);
    align-items: var(--align-center);
}

.title {
    color:var(--title-color);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    text-decoration: var(--text-decor);
}

.container {
    gap: var(--gap);
    border-radius: var(--border-radius);
    padding: var(--container-padding);
    width: var(--container-width);
    border: 1px solid var(--color-gold);
}