@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gruppo&family=Monoton&display=swap');

html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-black: rgb(26, 24, 24);
    --color-black-alpha: rgba(168, 239, 255, 0.1);
    --color-blue: rgba(168, 239, 255, 1);
    --color-gold: rgb(248, 244, 0);
    --color-light: floralwhite;
    --color-green: rgba(94,252,69,1);
    --logo-ff: 'Monoton', cursive;
    --logo-fs: 4rem;
    --title-ff: 'Fredericka the Great', cursive;
    --title-fs: 2.5rem;
    --main-ff: 'Gruppo', cursive;
    --main-fs: 1.8rem;
    --font-weight: 400;
    --gap: 3rem;
    --center: center;
    --padding: 3rem;
    --spacing: 2rem;
    --border-radius: 1rem;
}

.main {
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--color-black);
    align-items: var(--center);
    padding: var(--padding);
    gap: var(--gap);
}

.title {
    font-size: var(--logo-fs);
    font-weight: var(--font-weight);
    font-family: var(--logo-ff);
    letter-spacing: var(--spacing);
    color: var(--color-blue);
    text-align: var(--center);
}