html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-black: black;
    --color-green: palegreen;
    --color-light: azure;
    --color-span: fuchsia;
    --padding-container: 2.5rem;
    --title-padding: .5rem 1rem;
    --margin-container: var(--padding-container);
    --title-size: 3rem;
    --title-weight: 900;
    --desc-size: 1.8rem;
    --desc-weight: 400;
    --border-radius: 1rem;
    --task-size: 2rem;
    --task-weight: 600;
    --gap: 3rem;
}

.main {
    align-items: center;
    padding: var(--padding-container);
    margin: var(--margin-container);
    background-color: var(--color-black);
    border-radius: var(--border-radius);
    gap: var(--gap);
}

.title {
    color: var(--color-green);
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-green);
    padding: var(--title-padding);
}

.container {
    padding: var(--padding-container);
    gap: var(--gap);
    width: 100%;
}

.item {
    border-radius: var(--border-radius);
    background-color: var(--color-green);
    padding: var(--padding-container);
    gap: var(--gap);
}

.task {
    background-color: var(--color-black);
    padding: var(--padding-container);
    border-radius: var(--border-radius);
    color: var(--color-light);
    font-size: var(--task-size);
    font-weight: var(--task-weight);
}

span {
    text-decoration: underline;
    color: var(--color-span);
}