html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-black: black;
    --color-light: palegreen;
    --padding-container: 2.5rem;
    --margin-container: var(--padding-container);
    --title-size: 3rem;
    --title-weight: 900;
}