@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gruppo&family=Monoton&display=swap');

html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

:root {
    --logo-ff: 'Monoton', cursive;
    --logo-fs: 4rem;
    --font-weight: 700;
    --title-ff: 'Fredericka the Great', cursive;
    --title-fs: 2.4rem;
    --main-ff: 'Gruppo', cursive;
    --main-fs: 1.8rem;
    --color-green: rgb(0, 250, 154);
    --color-black: rgb(26, 24, 24);
    --color-black-alpha: rgba(168, 239, 255, 0.1);
    --color-blue: rgba(168, 239, 255, 1);
    --color-light: floralwhite;
    --gap: 3rem;
    --center: center;
    --padding: 3rem;
    --spacing: 2rem;
    --border-radius: 1rem;
	--angle: 90deg;
}

.main {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-black);
    align-items: var(--center);
    padding: var(--padding);
}

.title {
    font-size: var(--logo-fs);
    font-weight: var(--font-weight);
    font-family: var(--logo-ff);
    letter-spacing: var(--spacing);
    color: transparent;
    background: linear-gradient(90deg, rgb(255, 255, 255) 5%, rgb(210, 255, 10) 50%, rgba(94,252,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    padding: var(--padding);
    width: 100%;
    justify-content: space-around;
}

.form {
    padding: calc(var(--padding) * 2);
    border: 3px solid;
    border-image: conic-gradient(from var(--angle), var(--color-blue), var(--color-blue) 0.1turn, var(--color-blue) 0.15turn, var(--color-black-alpha) 0.25turn) 30;
	animation: borderRotate 2s linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}
