@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gruppo&family=Monoton&display=swap');

html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --logo-ff: 'Monoton', cursive;
    --logo-fs: 4rem;
    --font-weight: 700;
    --title-ff: 'Fredericka the Great', cursive;
    --title-fs: 2.4rem;
    --main-ff: 'Gruppo', cursive;
    --main-fs: 1.8rem;
    --color-green: mediumspringgreen;
    --color-black: rgb(26, 24, 24);
    --color-light: floralwhite;
    --gap: 3rem;
    --center: center;
    --padding: 3rem;
    --spacing: 2rem;
}

.main {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-black);
    align-items: var(--center);
    padding: var(--padding);
}

.title {
    font-size: var(--logo-fs);
    font-weight: var(--font-weight);
    font-family: var(--logo-ff);
    letter-spacing: var(--spacing);
    color: transparent;
    background: linear-gradient(90deg, rgb(255, 255, 255) 5%, rgb(210, 255, 10) 50%, rgba(94,252,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
