html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --container-padding: 2rem 3rem;
    --main-margin: var(--container-padding);
    --back-black: rgba(0, 0, 0, 0.8);
    --back-light: azure;
    --color-black: var(--back-black);
    --color-light: var(--back-light);
    --title-size: 3.6rem;
    --title-weight: 900;
    --subtitle-size: 2rem;
    --subtile-weight: 500;
    --gap: 3rem;
    --border-radius: 1.5rem;
    --b-color: aqua;
}

/* main container styles */
.main {
    margin: var(--main-margin);
    padding: var(--container-padding);
    background-color: var(--back-black);
    border-radius: var(--border-radius);
    gap: var(--gap);
    align-items: center;
}

/* main title styles */
.title {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--color-light);
    text-decoration: underline;
}

/* task container styles */
.task {
    padding: var(--container-padding);
    border-radius: var(--border-radius);
    background-color: var(--back-light);
    width: 100%;
    font-size: var(--subtitle-size);
    font-weight: var(--subtile-weight);
}

/* b styles */
b {
    color: var(--b-color);
    background-color: var(--back-black);
}

/* item container styles */
.item {
    padding: var(--container-padding);
    width: 100%;
    background-color: var(--back-light);
    border-radius: var(--border-radius);
    gap: var(--gap);
}

/* subtitle styles */
.subtitle {
    font-size: var(--subtitle-size);
    font-weight: var(--subtile-weight);
    color: var(--color-light);
    background-color: var(--back-black);
    padding: var(--container-padding);
    border-radius: var(--border-radius);
}