html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-size: 4rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    width: 25rem;
    margin: 10% auto;
    outline: 1px solid black;
}

.item {
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
}