html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --container-padding: 3rem;
}

.main {
    width: 100vw;
    height: 100vh;
    padding: var(--container-padding);
    background-image: url('../src/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
