@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gruppo&family=Monoton&display=swap');

html {
    font-size: 10px;
}

*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

:root {
    --color-black: rgb(26, 24, 24);
    --color-black-alpha: rgba(168, 239, 255, 0.1);
    --color-blue: rgba(168, 239, 255, 1);
    --color-gold: rgb(248, 244, 0);
    --color-light: rgb(255, 255, 255);
    --color-green: rgba(94,252,69,1);
    --logo-ff: 'Monoton', cursive;
    --logo-fs: 4rem;
    --title-ff: 'Fredericka the Great', cursive;
    --title-fs: 3rem;
    --main-ff: 'Gruppo', cursive;
    --font-weight: 400;
    --padding: 3rem;
    --gap:3rem;
	--angle: 90deg;
}

.main {
    padding: var(--padding);
    align-items: center;
    gap: var(--gap);
    background-color: var(--color-black);
    width: 100vw;
    min-height: 100vh;
}

.title {
    font-size: var(--logo-fs);
    font-weight: var(--font-weight);
    font-family: var(--logo-ff);
    color: transparent;
    background: linear-gradient(120deg, var(--color-light) 5%, var(--color-blue) 50%, var(--color-gold) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 70vw;
}

.form {
    padding: calc(var(--padding) * 2) calc(var(--padding) * 4);
    gap: calc(var(--gap) * 2.5);
    border: 3px solid;
    border-image: conic-gradient(from var(--angle), var(--color-green), var(--color-gold) 0.1turn, var(--color-blue) 0.15turn, var(--color-black-alpha) 0.25turn) 30;
	animation: borderRotate 2s linear infinite forwards;
    width: 70vw;
    align-items: center;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

.field {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.field-desc {
    font-size: var(--title-fs);
    font-weight: var(--font-weight);
    font-family: var(--title-ff);
    letter-spacing: calc(var(--spacing) / 2);
    color: var(--color-blue);
}